<section class="notice">
    <div class="page-title">
        <div class="container">
            <h3>자유게시판</h3>
        </div>
    </div>
  
    <!-- board list area -->
    <div id="board-list">
        <div class="container">
            <table class="board-table">
                <thead>
                <tr>
                    <th scope="col" class="th-num">번호</th>
                    <th scope="col" class="th-ctg">카테고리</th>
                    <th scope="col" class="th-title">제목</th>
                    <th scope="col" class="th-writer">작성자</th>
                    <th scope="col" class="th-date">등록일</th>
               </tr>
                </thead>
            <tbody>
                <% for (let i = 0; i < posts.length ; i++) {
                    const post = posts[i];
                    const created_at = post.created_at.toLocaleString(); %>
                
                <tr>
                    <td><%= post.post_id %></td>
                    <td><a href="#!"><%= post.category %></a></td> 
                    <th>
                        <a href="#!"><%= post.title %></a>
                    </th>
                    <td><%= post.user.nickname %></td>
                    <td><%= created_at %></td>
                </tr>
                <% } %>
                </tbody>
            </table>
        </div>
    </div>

    <!-- board seach area -->
    <div id="board-search">
        <div class="container">
            <div class="search-window">
                <form action="">
                    <div class="search-wrap">
                        <label for="search" class="blind">공지사항 내용 검색</label>
                        <input id="search" type="search" name="" placeholder="검색어를 입력해주세요." value="">
                        <button type="submit" class="btn btn-dark">검색</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
   
  
</section>

<script>
    $(document).ready(fuction() {
        viewBoardLists();
    });

    async function viewBoardLists() {
        $.ajax({
            type: "GET",
            url: '/posts',
            success: function (response) {
                

            },
            error: function (response) {
                console.log(response.responseJSON.message);
            }
        })
    }

</script>