<section class="notice">
    <div class="page-title">
        <div class="container">
          <br><br>
          <h3 class="text-center">자유게시판</h3>
        </div>
    </div>
    <div class="container">
      <nav class="sp_nav">
        <a class="sp_nav-link" href="/boardList/병원">병원</a>
        <a class="sp_nav-link" href="/boardList/자랑">자랑</a>
        <a class="sp_nav-link" href="/boardList/기타">기타</a>
        <a class="sp_nav-link" href="/boardList" >전체보기</a>
      </nav>
    <a href='/board/post' class="btn btn-success">글쓰기</a>

    </div>
  
    <!-- board list area -->
    <div id="board-list">
        <div class="container">
            <table id="my-table" class="table table-hover">
                <thead>
                <tr>
                    <th scope="col" class="th-num">번호</th>
                    <th scope="col" class="th-ctg">카테고리</th>
                    <th scope="col" class="th-title">제목</th>
                    <th scope="col" class="th-writer">작성자</th>
                    <th scope="col" class="th-date">등록일</th>
                </tr>
                </thead>
              <tbody id="table-body">
                <% for (let i = 0; i < posts.data.length ; i++) {
                    const post = posts.data[i];
                    const created_at = post.created_at.toLocaleString('ko-KR', { timeZone: 'Asia/Seoul' }); %>
                
                <tr id="table-row">
                    <td scope="row"><%= post.post_id %></td>
                    <td><a href="/boardList/<%= post.category %>"><%= post.category %></a></td> 
                    <th><a href='/boardDetail/<%= post.post_id %>'><%= post.title %> </a></th>
                    <td><%= post.user?.nickname %></td>
                    <td><%= created_at %></td>
                </tr>
                <% } %>
              </tbody>
            </table>
        </div>
    </div>

    <div class="container">
      <button onclick="viewBoardLists(<%= posts.pageOpt.endCursor %>)" id="moreBtn" type="button" class="btn btn-dark">더보기</button>
      
    </div>
    <br><br>
    <button id="topBtn" type="button" class="btn btn-info">TOP</button>

</section>

<script>
  async function viewBoardLists(endPostId) {
    if (endPostId === -1) {
			return;
		}

    $.ajax({
      type: 'GET',
      async: "true",
      url: `/posts?endCursor=${endPostId}`,
      success: function (response) {
        const table = document.getElementById('my-table').getElementsByTagName('tbody')[0];
        const tr = document.querySelectorAll('tr');
        const lastRowInTable = tr[tr.length - 1];

        if (response.data.length === 0) {
          const tempHTML =  `
                          <tr>
                    <td scope="row"></td>
                    <td></td> 
                    <td style='margin: 10px auto'>마지막 항목입니다</td>
                    <td></td>
                    <td></td>
                </tr>
            `
          const newRow = table.insertRow(table.rows.length);
          newRow.innerHTML = tempHTML;

          // 버튼 업데이트
          const moreButton = document.getElementById('moreBtn')
          moreButton.setAttribute('onClick', `viewBoardLists(-1)`)
          return;
        }

        response.data.forEach(post => {
          const html = `
                          <tr>
                    <td scope="row">${post.post_id}</td>
                    <td><a href="/boardList/${post.category}">${post.category}</a></td> 
                    <th><a href='/boardDetail/${post.post_id}'>${post.title}</a></th>
                    <td>${post.user?.nickname}</td>
                    <td>${post.created_at.toLocaleString()}</td>
                </tr>
          `;
          const newRow = table.insertRow(table.rows.length);
          newRow.innerHTML = html;
        })

        
        const moreButton = document.getElementById('moreBtn');
        if(response.pageOpt.hasNextPage) { 
          moreButton.setAttribute('onClick', `viewBoardLists(${response.pageOpt.endCursor})`);

        } else {
          moreButton.setAttribute('disabled', true);
        }

      },
      error: function (err) {
        console.log(err);
      },
    });
  }
  
  $(function() { // 보이기 | 숨기기
	  $(window).scroll(function() {
      if ($(this).scrollTop() > 250) { //250 넘으면 버튼이 보여짐니다. 
        $('#topBtn').fadeIn();
      } else {
       $('#topBtn').fadeOut();
      }
    }); // 버튼 클릭시 
    $("#topBtn").click(function() { 
  	  $('html, body').animate({ scrollTop : 0 // 0 까지 animation 이동합니다. 
  	  }, 400); // 속도 400 
  	  return false; 
    }); 
  });
</script>
