<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>무인냥품</title>

  <!-- styles -->
  <link rel="stylesheet" href="/css/header/mainHeader.css">
  <link rel="stylesheet" href="/css/header/basicHeader.css">
  <link rel="stylesheet" href="/css/footer/footer.css">
  <link rel="stylesheet" href="/css/index/index.css">
  <link rel="stylesheet" href="/css/main/main.css">
  <link rel="stylesheet" href="/css/myPage/myPage.css">


</head>
<body>
  <% if (components === 'main') {%>
    <div class="mainHeader">
      <div class="headerNavi">
        <%- include('mainHeader.ejs')%>
      </div>
    </div>
  <%} else{%>
        <%- include('basicHeader.ejs')%>
    </div>
  <%}%>
  
  <% if (components === 'main') { %> <%-include('main.ejs') %><% } %>
  <% if (components === 'signUp') { %> <%-include('signUp.ejs') %><% } %>
  <% if (components === 'myPage') { %> <%-include('myPage.ejs') %><% } %>
  <% if (components === 'admin') { %> <%-include('admin.ejs') %><% } %>
  <% if (components === 'requestList') { %> <%-include('requestList.ejs') %><% } %>
  <% if (components === 'requestDetail') { %> <%-include('requestDetail.ejs') %><% } %>
  <% if (components === 'requestPost') { %> <%-include('requestPost.ejs') %><% } %>
  <% if (components === 'shareList') { %> <%-include('shareList.ejs') %><% } %>
  <% if (components === 'shareDetail') { %> <%-include('shareDetail.ejs') %><% } %>
  <% if (components === 'sharePost') { %> <%-include('sharePost.ejs') %><% } %>
  <% if (components === 'boardList') { %> <%-include('boardList.ejs') %><% } %>
  <% if (components === 'boardDetail') { %> <%-include('boardDetail.ejs') %><% } %>
  <% if (components === 'boardPost') { %> <%-include('boardPost.ejs') %><% } %>
  <% if (components === 'message') { %> <%-include('message.ejs') %><% } %>


  <div class="Footer">
    <div class="footerContent">
      <%- include('footer.ejs')%> 
    </div>    
  </div>
  
</body>
</html>