<div id="user-table">
  <thead class="table-dark">
    <div class="msgTitle">
      <a href="/message/received">받은편지함</a> |
      <a href="/message/sent">보낸편지함</a> |
      <a href="/message/unread">안읽은편지함</a> |
    </div>
    <div id="root">
      <button type="button" id="modal_opne_btn">편지쓰기</button>
    </div>

    <!-- 편지쓰기 모달 -->
    <div id="modal">
      <div class="modal_content">
        <input type="email" name="receive_email" class="form-style" placeholder="받는사람" id="receive_email" autocomplete="off">
        
        <div class="form-group">
          <label for="message">Message</label>
          <textarea class="form-control" id="emailInputContent" name="emailInputContent"></textarea>
        </div>

        <button onclick="emailSendMessage()" class="btn btn-outline-primary" type="button">submit</button>
        <button type="button" id="modal_close_btn">모달 창 닫기</button>
      </div>
      <div class="modal_layer"></div>
    </div>
  </thead>

  <div class="msgContentContainer">
    <div class="box1">
      내용
    </div>
    <div class="box1">
      보낸사람/받는사람
    </div>
    <div class="box1">
      시간
    </div>
  </div>
  
  <br/>
  <hr/>

  <% messages.forEach((message) => { %>
    <tbody>
      <details onclick="detail(<%= message.message_id %>)">
        <summary>
          <div class="box1">
            <%= message.content %>
          </div>

          <% if (message.sender_id!==userId){ %>
            <div class="box1">
              <%= message.send_user.nickname %>
            </div>
          <% } else { %>
            <div class="box1">
              <%= message.receive_user.nickname %>
            </div>
          <% } %>

          <div class="box1">
            <%= message.created_at %>
          </div>
        </summary>

        <div id="inmessage">
          <div class="msgContent">
            <%= message.content %>
          </div>
          <button onclick="deleteMessage(<%= message.message_id %>)" id="target_btn" type="button">삭제</button>

      <% if (message.sender_id!==userId){ %>
            <button type="button" onclick="mmodal(<%= message.message_id %>)">답장</button>
        </div>

        <!-- 답장하기 모달 -->
        <div id="modal<%= message.message_id %>" style="display: none; position: relative;
          width: 100%;
          height: 100%;
          z-index: 1;">
          <div class="modal_content" style="width: 300px;
          margin: 200px auto;
          padding: 20px 10px;
          background: #fff;
          border: 2px solid #666;">
            <div class="form-group">
              <label>보내는 사람 : 나</label>
              <%= message.receive_user.nickname %>
            </div>
            <div class="form-group">
              <label>받는 사람</label>
              <%= message.send_user.nickname %>
            </div>

            <div class="form-group">
              <label for="message">Message</label>
              <textarea class="form-control" id="inputContent" name="inputContent"></textarea>
            </div>

            <button onclick="sendMessage(<%= message.sender_id %>)" class="btn btn-outline-primary"
              type="button">submit</button>
            <button type="button" onclick="mmodalClose(<%= message.message_id %>)">모달 창 닫기</button>
          </div>
          <div class="modal_layer" style="position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            z-index: -1;">
          </div>
        </div>

      <% } %>
      </details>
    </tbody>
    <br>
  <% }) %>
</div>


<script>
  function emailSendMessage() {
    const receive_email = $('#receive_email').val();
    const emailInputContent = $('#emailInputContent').val();
    const sender_id = Number(getId(receive_email))
    $.ajax({
      type: 'POST',
      url: '/messages',
      data: JSON.stringify({
        content: emailInputContent,
        recipient_id: Number(sender_id)
      }),
      success: function (response) {
        document.location.href = document.location.href;
        alert('전송이 완료되었습니다.');

      },
      beforeSend: function (xhrObj) {
        xhrObj.setRequestHeader("Content-Type", "application/json");
        xhrObj.setRequestHeader("Accept", "application/json");
      },
    })
  }

  function getId(email) {
    var aa;
    $.ajax({
      type: 'Get',
      url: `/users/${email}`,
      data: { email: email },
      dataType: "text",
      async: false,
      success: function (data) {
        aa = data
      }
    });
    return aa;
  }

  function sendMessage(sender_id) {
    const inputContent = $('#inputContent').val();
    if (!inputContent) {
      alert('내용을 입력해주세요.');
    } else {
      $.ajax({
        type: 'POST',
        url: '/messages',
        data: JSON.stringify({
          content: inputContent,
          recipient_id: Number(sender_id)
        }),
        success: function (response) {
          document.location.href = document.location.href;
          alert('전송이 완료되었습니다.');

        },
        beforeSend: function (xhrObj) {
          xhrObj.setRequestHeader("Content-Type", "application/json");
          xhrObj.setRequestHeader("Accept", "application/json");
        },
      })
    }
  }

  function deleteMessage(message_id) {
    $.ajax({
      type: 'DELETE',
      url: `/messages/:${message_id}`,
      success: function (data) {
        document.location.href = document.location.href;
        alert("삭제완료")
        return data;
      },
    })
  }

  function detail(message_id) {
    $.ajax({
      type: 'GET',
      url: `/messages/:${message_id}`,
      success: function (data) {
        return data;
      }
    })
  }

  document.getElementById("modal_opne_btn").onclick = function () {
    document.getElementById("modal").style.display = "block";
  }

  document.getElementById("modal_close_btn").onclick = function () {
    document.getElementById("modal").style.display = "none";
  }

  function mmodal(number) {
    document.getElementById(`modal${number}`).style.display = "block";
  }

  function mmodalClose(number) {
    document.getElementById(`modal${number}`).style.display = "none";
  }
</script>

<style>
  .msgCreateContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #root {
    margin-top: 30px;
    margin-left: 30px;
  }

  .msgTitle {
    margin-top: 50px;
    margin-left: 30px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }


  #inmessage {
    text-align: center;
    background-color: #fbf7ec;
  }

  #target_btn {
    margin-top: 20px;
    background-color: white;
    border: 2px solid e8e8e5;
    border-radius: 20px;
  }

  #modal_opne_btn {
    background-color: white;
    border: 2px solid e8e8e5;
    border-radius: 20px;
  }

  #modal_opne_btn1 {
    background-color: white;
    border: 2px solid e8e8e5;
    border-radius: 20px;
  }


  .box1 {
    float: left;
    margin-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    min-width: 300px;
    max-width: 300px;
  }

  .popup-position {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
  }

  #popup-wrapper {
    text-align: left;
  }

  #popup-container {

    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    margin: 70px auto;

    a {
      cursor: pointer;
    }
  }


  #modal {
    position: relative;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  #modal1 {
    position: relative;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  #modal h2 {
    margin: 0;
  }

  #modal button {
    display: inline-block;
    width: 100px;
    margin-left: calc(100% - 100px - 10px);
  }

  #modal .modal_content {
    width: 300px;
    margin: 200px auto;
    padding: 20px 10px;
    background: #fff;
    border: 2px solid #666;
  }

  #modal1 .modal_content {
    width: 300px;
    margin: 200px auto;
    padding: 20px 10px;
    background: #fff;
    border: 2px solid #666;
  }

  #modal .modal_layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }

  #modal1 .modal_layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }

  .msgContentContainer {
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 50px;
  }


  .msgContent {
    margin-top: 20px;
  }
</style>