
<section style="width: 90%; margin: 30px auto; justify-content: center;">
    <div>
		<div class="d-flex justify-content-center">
			<h1 class="text-center">품앗이 구해요</h1>
		</div>
		<br/>
		<div class="d-flex justify-content-between">
			<div class="" id="">
			  <div class="">
				현재 위치: <span>
					<% if (user && user.address_certified) { %>
						<%= user.address_bname %>
					  <% } else if (!user) { %>
						로그인이 필요합니다
					  <% } else { %>
						<%= user.address_bname %> (동네 인증을 하시면 더 정확한 품앗이 정보를 얻을 수 있습니다)
					  <% } %>
				</span>
			  </div>
			</div>
			<div>
				<button onclick="goToWrite('<%= user %>')" type="button" class="btn btn-outline-dark">품앗이 신청하러 가기</button>
			</div>
		</div>

		<br/>

		<div class="request-cards-container" >
			<% for (let i = 0; i < 8; i++) { 
				const request = requests.data[i]; 
				const minutesAgo = (Date.now() - new Date(request.updated_at)) / 1000 / 60 - (60 * 9)
				let updated = ''
				if (minutesAgo < 60) {
					updated += parseInt(minutesAgo) + '분'
				} else if (minutesAgo / 60 <= 48) {
					updated += parseInt(minutesAgo / 60) + '시간'
				} else {
					updated += parseInt(minutesAgo / 60 / 24) + '일'
				} 

				let reserved_dates = ''
				if (request.reserved_end_date == request.reserved_begin_date) {
					reserved_dates = request.reserved_begin_date;
				} else {
					reserved_dates = request.reserved_begin_date + ' ~ ' + request.reserved_end_date;
				}

				let ongoing = ''
				if (request.is_ongoing) {
					ongoing = '모집중'
				} else {
					ongoing = '모집 완료'
				}
				%>

				<div class="col">
					<div onclick="location.href='/request/detail/<%= request.request_id %>'" class="card h-100" style="border-radius: 20px; cursor: pointer;">

						<div class="cat-card">
							<div class="imgContainer" style="background-image: url('<%= request.user.cats[0].image %>');">
							<img src="" alt="">
							<div class="status">
								<p><%= ongoing %></p>
							</div>
							</div>
							<div class="whole-column-container">
								<div class="cat-info-title" id="period">
									기간
								</div>
								<div class="cat-info-content">
									<%= reserved_dates %> 
								</div>
							</div>
							<div class="whole-column-container">
								<div class="cat-info-title" id="name">
								연락
								</div>
								<div class="cat-info-content">
								<%= request.user.nickname %>
								</div>
							</div>
							<div class="whole-column-container">
								<div class="cat-info-title" id="character">
									지역
								</div>
								<div class="cat-info-content">
									<% if (user && user.address_certified) { %>
										<%= request.user.address_bname %>
									<% } else { %>
										🟤🟤🟤
									<% } %>
								</div>
							</div>
							
							<div class="more">
								<small class="text-muted align-center"><%= updated %> 전 업데이트</small>
								<button class="moreBtn" onclick="location.href='/request/detail/<%= request.request_id %>'">> 자세히 보기</button>
							</div>
						</div>
					</div>
				</div>
			<% } %>
		</div>
		
		<br><br>
		<div class="pgn">
			<nav aria-label="...">
				<ul class="pagination justify-content-center">
				  <% if(Number(requests.meta.page) == 1) { %>
				  <li class="page-item disabled">
					<a class="page-link" href="/request/list?page=<%= Number(requests.meta.page) %>" tabindex="-1" aria-disabled="true" aria-label="Previous">
					  <span aria-hidden="true">&laquo;</span>
					</a>
				  </li>
				  <% } else {%>
				  <li class="page-item"></li>
					<a class="page-link" href="/request/list?page=<%= Number(requests.meta.page)-1 %>" aria-label="Previous">
					  <span aria-hidden="true">&laquo;</span>
					</a>
				  </li>
				  <% } %>
	
				  <% for (let i = 0; i < requests.meta.last_Page ; i++) { 
					if(i == Number(requests.meta.page)-1) { %>
	
					<li class="page-item active""><a class="page-link" href="/request/list?page=<%= i+1 %>" aria-current="page"><%= i+1 %></a></li>
					<% } else {%>
	
					<li class="page-item"><a class="page-link" href="/request/list?page=<%= i+1 %>"><%= i+1 %></a></li>
					<% } %>
				  <% } %>
	
	
				  <% if(Number(requests.meta.page) == requests.meta.last_Page) { %>
				  <li class="page-item disabled">
					<a class="page-link" href="/request/list?page=<%= Number(requests.meta.page) %>" tabindex="-1" aria-disabled="true" aria-label="Next">
					  <span aria-hidden="true">&raquo;</span>
					</a>
				  </li>
				  <% } else {%>
				  <li class="page-item"></li>
					<a class="page-link" href="/request/list?page=<%= Number(requests.meta.page)+1 %>" aria-label="Next">
					  <span aria-hidden="true">&raquo;</span>
					</a>
				  </li>
				  <% } %>
				</ul>
			</nav>
		</div>


	</div>
</section>

<script>
	function goToWrite(user) {
		if (!user) {
			alert('로그인이 필요한 기능입니다')
			return;
		}
		if (!user.address_certified) {
			alert('내 동네 인증하기를 마치면 글쓰기가 가능합니다')
			return;
		}
		location.href='/request/post'
	}
	
</script>
