
<section style="width: 90%; margin: 30px auto; justify-content: center;">
    <div>
		<div class="d-flex justify-content-center">
			<h1 class="text-center">품앗이 구해요</h1>
		</div>
		<br/>
		<div class="d-flex justify-content-between">
			<div class="" id="">
			  <div class="">
				현재 위치: <span>
					<% if (user && user.address_certified) { %>
						<%= user.address_bname %>
					  <% } else if (!user) { %>
						로그인이 필요합니다
					  <% } else { %>
						<%= user.address_bname %> (동네 인증을 하시면 더 정확한 품앗이 정보를 얻을 수 있습니다)
					  <% } %>
				</span>
			  </div>
			</div>
			<div>
				<button onclick="goToWrite(<%= userId ?? 0 %>, <%= user?.address_certified ?? false %>)" type="button" class="btn btn-outline-dark">품앗이 신청하러 가기</button>
			</div>
		</div>

		<br/>

		<% console.log('length', requests.data.length) %>
		<% if (requests.data.length === 0) { %>
		<div class="">
			지금은 우리 동네에 품앗이 요청이 없네요!
		</div>
		<% } %>
		<div class="request-cards-container" >
			<% for (let i = 0; i < requests.data.length; i++) { 
				const request = requests.data[i]; 
				const minutesAgo = (Date.now() - new Date(request.updated_at)) / 1000 / 60
				let updated = ''
				if (minutesAgo < 60) {
					updated += parseInt(minutesAgo) + '분'
				} else if (minutesAgo / 60 <= 48) {
					updated += parseInt(minutesAgo / 60) + '시간'
				} else {
					updated += parseInt(minutesAgo / 60 / 24) + '일'
				} 

				let reserved_dates = ''
				if (request.reserved_end_date == request.reserved_begin_date) {
					reserved_dates = request.reserved_begin_date;
				} else {
					reserved_dates = request.reserved_begin_date + ' ~ ' + request.reserved_end_date;
				}

				let ongoing = ''
				if (request.is_ongoing) {
					ongoing = '모집중'
				} else {
					ongoing = '모집 완료'
				}
				%>

				<div class="col">
					<div onclick="location.href='/request/detail/<%= request.request_id %>'" class="card h-100" style="border-radius: 20px; cursor: pointer;">

						<div class="cat-card">
							<div class="imgContainer" style="background-image: url('<%= request.user?.cats[0]?.image %>');">
							<img src="" alt="">
							<div class="status">
								<p><%= ongoing %></p>
							</div>
							</div>
							<div class="whole-column-container">
								<div class="cat-info-title" id="period">
									기간
								</div>
								<div class="cat-info-content">
									<%= reserved_dates %> 
								</div>
							</div>
							<div class="whole-column-container">
								<div class="cat-info-title" id="name">
								연락
								</div>
								<div class="cat-info-content">
								<%= request.user?.nickname %>
								</div>
							</div>
							<div class="whole-column-container">
								<div class="cat-info-title" id="character">
									지역
								</div>
								<div class="cat-info-content">
									<% if (user && user.address_certified) { %>
										<%= request.user.address_bname %>
									<% } else { %>
										동네를 인증해주세요!
									<% } %>
								</div>
							</div>
							
							<div class="more">
								<small class="text-muted align-center"><%= updated %> 전 업데이트</small>
								<button class="moreBtn" onclick="location.href='/request/detail/<%= request.request_id %>'">> 자세히 보기</button>
							</div>
						</div>
					</div>
				</div>
			<% } %>
		</div>

		<button onclick="moreRequestLists(<%= requests.pageOpt.endCursor %>, <%= user?.address_certified ?? false %>, '<%= user?.address_bname %>')" id="moreBtn" type="button" class="btn btn-outline-secondary">더보기</button>
    
		<br><br>
	</div>
</section>

<script>
	function goToWrite(userId, address_certified) {

		// 로그인 검사
		if (!userId) {
			alert('로그인이 필요한 기능입니다')
			return;
		}

		// 사용자의 고양이 프로필 정보를 받아와 
		// 동네 인증과 1개 이상의 고양이 프로필 등록을 마쳤는지 검사
		$.ajax({
			type: 'GET',
			url: '/cats',
			success: function (response) {
				if (address_certified != true || response.length <= 0) {
					alert('마이페이지에서 내 동네 인증하기와 고양이 등록을 마치면 글쓰기가 가능합니다')
					return;
				}
				location.href='/request/post'
			},
			error: function (response) {
				alert('요청 처리중 문제가 발생하였습니다. 관리자에게 문의 바랍니다')
				console.log(response);
			}
		})
	}

	async function moreRequestLists(endRequestId, address_certified, bname) {

		// 비로그인 혹은 위치 인증을 마치지 않은 경우: 동네 상관 없이 전부 조회, 동네명은 가림. 
		if (!address_certified) {

			$.ajax({
				type: 'GET',
				async: "true",
				url: `/requests?endCursor=${endRequestId}`,
				success: function (response) {
					showCards(response, address_certified, bname);
				},
				error: function (err) {
					console.log(err);
				},
			});

		// 로그인과 위치 인증을 마친 경우: 동네명으로 조회, 동네명 표시. 
		} else {

			$.ajax({
				type: 'GET',
				async: "true",
				url: `/requests/address/${bname}?endCursor=${endRequestId}`,
				success: function (response) {
					showCards(response, address_certified, bname);
				},
				error: function (err) {
					console.log(err);
				},
			});
		}
	}

	// 성공 응답 response와 현재 유저가 동네 인증을 했는지 address_certified를 받아 
	// 카드 그리기와 버튼 업데이트 시전
	function showCards(response, address_certified, bname) {
		const cardContainer = $('.request-cards-container');
		
		// 되돌아온 게시글 수가 0이라면 '마지막 항목입니다' 표시 후 더보기 버튼 비활성화
		if (response.data.length === 0) {
			const tempHTML = `<div style="margin: 10px auto;">
				마지막 항목입니다
				</div>
				`
			cardContainer.append(tempHTML);

			// 버튼 업데이트
			const moreButton = document.getElementById('moreBtn')
			moreButton.setAttribute('disabled', '')
			
			return;
		}

		// 되돌아온 게시글 수만큼 카드 만들고 덧붙임
		response.data.forEach((request) => {
			
			const minutesAgo = (Date.now() - new Date(request.updated_at)) / 1000 / 60
			let updated = ''
			if (minutesAgo < 60) {
				updated += parseInt(minutesAgo) + '분'
			} else if (minutesAgo / 60 <= 48) {
				updated += parseInt(minutesAgo / 60) + '시간'
			} else {
				updated += parseInt(minutesAgo / 60 / 24) + '일'
			} 

			let reserved_dates = ''
			if (request.reserved_end_date == request.reserved_begin_date) {
				reserved_dates = request.reserved_begin_date;
			} else {
				reserved_dates = request.reserved_begin_date + ' ~ ' + request.reserved_end_date;
			}

			let ongoing = ''
			if (request.is_ongoing) {
				ongoing = '모집중'
			} else {
				ongoing = '모집 완료'
			}

			let bname = ''
			if (address_certified) { 
				bname = request.user?.address_bname
			} else {
				bname = '동네를 인증해주세요!'
			}

			const tempHTML = `
			<div class="col">
				<div onclick="location.href='/request/detail/${request.request_id}'" class="card h-100" style="border-radius: 20px; cursor: pointer;">

					<div class="cat-card">
						<div class="imgContainer" style="background-image: url('${request.user?.cats[0].image}');">
						<img src="" alt="">
						<div class="status">
							<p>${ongoing}</p>
						</div>
						</div>
						<div class="whole-column-container">
							<div class="cat-info-title" id="period">
								기간
							</div>
							<div class="cat-info-content">
								${reserved_dates} 
							</div>
						</div>
						<div class="whole-column-container">
							<div class="cat-info-title" id="name">
							연락
							</div>
							<div class="cat-info-content">
								${request.user?.nickname}
							</div>
						</div>
						<div class="whole-column-container">
							<div class="cat-info-title" id="character">
								지역
							</div>
							<div class="cat-info-content">
								${bname}
							</div>
						</div>
						
						<div class="more">
							<small class="text-muted align-center">${updated} 전 업데이트</small>
							<button class="moreBtn" onclick="location.href='/request/detail/${request.request_id}'">> 자세히 보기</button>
						</div>
					</div>
				</div>
			</div>
			`

			cardContainer.append(tempHTML);

			// 버튼 업데이트
			const moreButton = document.getElementById('moreBtn')
			moreButton.setAttribute('onClick', `moreRequestLists(${response.pageOpt.endCursor}, ${address_certified}, '${bname}')`)
		})
	}
	
</script>
