
<section style="width: 90%; margin: 30px auto; justify-content: center;">
    <div>
		<div class="d-flex justify-content-center">
			<h1 class="text-center">품앗이 구해요</h1>
		</div>
		<br/>
		<div class="d-flex justify-content-between">
			<div class="" id="">
			  <div class="">
				현재 위치: <span>
					<% if (user && user.address_certified) { %>
						<%= user.address_bname %>
					  <% } else if (!user) { %>
						로그인이 필요합니다
					  <% } else { %>
						<%= user.address_bname %> (동네 인증을 하시면 더 정확한 품앗이 정보를 얻을 수 있습니다)
					  <% } %>
				</span>
			  </div>
			</div>
			<div>
				<% 
				let address_certified = false;
				if (!user) {
					address_certified = null
				} else {
					address_certified = user.address_certified;
				} %>
				<button onclick="goToWrite('<%= userId %>', '<%= address_certified %>')" type="button" class="btn btn-outline-dark">품앗이 신청하러 가기</button>
			</div>
		</div>

		<br/>

		<% if (requests.length === 0) { %>
		<div class="">
			지금은 우리 동네에 품앗이 요청이 없네요!
		</div>
		<% } %>
		<div class="request-cards-container" >
			<% for (let i = 0; i < requests.length; i++) { 
				const request = requests[i]; 
				const minutesAgo = (Date.now() - new Date(request.updated_at)) / 1000 / 60 - (60 * 9)
				let updated = ''
				if (minutesAgo < 60) {
					updated += parseInt(minutesAgo) + '분'
				} else if (minutesAgo / 60 <= 48) {
					updated += parseInt(minutesAgo / 60) + '시간'
				} else {
					updated += parseInt(minutesAgo / 60 / 24) + '일'
				} 

				let reserved_dates = ''
				if (request.reserved_end_date == request.reserved_begin_date) {
					reserved_dates = request.reserved_begin_date;
				} else {
					reserved_dates = request.reserved_begin_date + ' ~ ' + request.reserved_end_date;
				}

				let ongoing = ''
				if (request.is_ongoing) {
					ongoing = '모집중'
				} else {
					ongoing = '모집 완료'
				}
				%>

				<div class="col">
					<div onclick="location.href='/request/detail/<%= request.request_id %>'" class="card h-100" style="border-radius: 20px; cursor: pointer;">

						<div class="cat-card">
							<div class="imgContainer" style="background-image: url('<%= request.user.cats[0].image %>');">
							<img src="" alt="">
							<div class="status">
								<p><%= ongoing %></p>
							</div>
							</div>
							<div class="whole-column-container">
								<div class="cat-info-title" id="period">
									기간
								</div>
								<div class="cat-info-content">
									<%= reserved_dates %> 
								</div>
							</div>
							<div class="whole-column-container">
								<div class="cat-info-title" id="name">
								연락
								</div>
								<div class="cat-info-content">
								<%= request.user.nickname %>
								</div>
							</div>
							<div class="whole-column-container">
								<div class="cat-info-title" id="character">
									지역
								</div>
								<div class="cat-info-content">
									<% if (user && user.address_certified) { %>
										<%= request.user.address_bname %>
									<% } else { %>
										동네를 인증해주세요!
									<% } %>
								</div>
							</div>
							
							<div class="more">
								<small class="text-muted align-center"><%= updated %> 전 업데이트</small>
								<button class="moreBtn" onclick="location.href='/request/detail/<%= request.request_id %>'">> 자세히 보기</button>
							</div>
						</div>
					</div>
				</div>
			<% } %>
		</div>
		
		<br><br>
		


	</div>
</section>

<script>
	function goToWrite(userId, address_certified) {
		if (!userId) {
			alert('로그인이 필요한 기능입니다')
			return;
		}
		let myCat = [];
		$.ajax({
			type: 'GET',
			url: '/cats',
			success: function (response) {
				myCat = response;
			},
			error: function (response) {
				console.log(response);
			}
		})

		if (address_certified != 'true' || myCat.length <= 0) {
			alert('마이페이지에서 내 동네 인증하기와 고양이 등록을 마치면 글쓰기가 가능합니다')
			return;
		}
		location.href='/request/post'
	}
	
</script>
